body { 
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;       
    font-style: normal;
    color: #434455;    
}
ul {
    list-style: none;
}
a {
    color: #434455;
    text-decoration: none;
}
.title-header3 {
    font-family: 'Roboto';        
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.text-body {
    font-family: 'Roboto';    
    font-size: 16px;
    line-height: 1.5;        
    letter-spacing: 0.02em;    
    color: #2E2F42;
}
/* logo */
.logo-web {
    font-family: 'Raleway';    
    font-weight: 800;
    font-size: 18px;
    line-height: 1.7;   
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.logo-studio {
    font-family: 'Raleway';    
    font-weight: 800;
    font-size: 18px;
    line-height: 1.7;  
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
    color: #2E2F42;    
}
.logo-footer-studio {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;        
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
/* navigation */
.navigation {
    font-family: 'Roboto';    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;  
    letter-spacing: 0.02em;
    color: #2E2F42;    
}
.navigation-link {
    font-family: 'Roboto';     
    font-size: 16px;
    line-height: 1.5;  
    letter-spacing: 0.02em;
    color: #434455;    
}
/* section-herro */
.herro {
    background: #2E2F42;
}
.herro-title {
    font-family: 'Roboto';    
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;  
    text-align: center;
    letter-spacing: 0.02em;    
    color: #FFFFFF;
}
.button {
    background: #4D5AE5;
    font-family: 'Roboto';    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;   
    cursor: pointer;  
}
.button:hover {
    background: #404BBF;
}
/* section-features */
.section-features {
    background: #FFFFFF;   
}
/* section-going */
.section-going {
    background: #FFFFFF;
}
/* section-team */
.section-team {
    background: #F4F4FD;
}
/* section-filters */
.button-all {
    background: #4D5AE5;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;  
    width: 69px;
    height: 48px;
    color: #FFFFFF;   
}
.button-web {
    background: #F4F4FD;
    width: 116px;
    height: 48px;      
    border: 1px solid #E7E9FC;
    border-radius: 4px; 
    color: #4D5AE5;
} 
.button-app {
    width: 78px;
    height: 48px;    
    background: #F4F4FD;      
    border: 1px solid #E7E9FC;
    border-radius: 4px;   
    color: #4D5AE5;         
}
.button-des {
    width: 101px;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: #4D5AE5;
}
.button-mark {
    width: 126px;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: #4D5AE5;
}

/* footer */
.footer-dark {
    background: #2E2F42;
}
.text-footer-body {
    font-family: 'Roboto';    
    font-size: 16px;
    line-height: 1.5;       
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

